body {
    padding: 0;
}
.initial-styling {
  text-align: center;
    height: 40vh;
    background-color: aqua;
}
#navbar-brand-custom {
padding: 0vw 2vw 0vw 2vw;
}

/*----------------------------------better positioning this way with navout of doc flow*/
#navmonk-spacing {
    background-color:#19011e;
    height: 10vh;
}


.nav-item-custom{
padding: 0vw 1vw 0vw 1vw;
}

.navbar-custom{
    background-color: #245581;
/*Do not put absoloute height here*/
    min-height: 10vh;

}



 .jumbo-image {
    background-image: url(/assests/images/monkees-jumbo.webp);
    background-color: #010203;
    background-repeat: no-repeat;
    background-position: right top -5vh;
    height: 50vh;
}
      
.latest-news{
    background: linear-gradient(#1b1a3c, #203258); 
    height: 40vh;
    color: azure
}
      
.latest-events{
    background-color: #031c2f;
    height: 40vh;
    color: mintcream
}

      
.most-popular{
    background-color:darkslategrey;
        color: mintcream;
    height: 30vh;
}

/*----------------------------------footer*/

.footer-custom{
min-height: 20vh;
    background-color:#1d2120;

}
.site-links{    padding-top: 30px;

}

.site-links ul li a{color: whitesmoke;
    text-decoration: none;
        padding: 30px 1px;
}

.logo-here {    
    min-height: 20vh;
background-color:#1d2120;
    background-image: url(assests/images/footer-monkees.svg);
    background-position: center;
background-repeat: no-repeat;
background-size: 40%;
}.social-here{   
            padding: 30px 1px;

    min-height: 20vh;
background-color:#1d2120
;
    color: white;

    

}
.social-here ul li a{color: whitesmoke;
    text-decoration: none;
        font-size: 2rem;


}



.copyright-full{    background-color:black;
    color: darkgray;
    padding-top: 15px;
    font-size: smaller;
}


.ulcustom{
}

.subscribe-custom{}

#email-subscribe-id {
font-weight: bolder;
}
